/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  max-width: 375px; /* Width of iPhone SE */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* /////CSS START\\\\\ */



/* SkillsIndexPageHOME */
/* .skills-index-page{
  background-color: gray;
} */
.card-body-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body-flex .card-img {
  margin-right: -20px;
}

#card-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#card-flex .card-header,
#card-flex .card-body {
  flex: 1;
}

.SkillsIndexContainer {
  margin-top: 50px;
  padding-bottom: 0px;
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
}
.header-image {
  width: 100%;
  height: 100%;
  /* height: auto; */
}


/* Navbar */
.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #ccc;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu-button + .menu-nav {
  transform: translateX(0);
}

.custom-nav-link {
  color: black;
  text-decoration: none;
}

.custom-nav-link:hover {
  color: blue;
}

#AboutDonate {
  margin-top: auto;
}

/* /////ExerciseForm\\\\\ */
.button-ExerciseForm-container button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.button-ExerciseForm-container button:hover .button {
  color: #fff;
}